# Compiled Object files
*.o
*.obj
*.so
*.out
*.exe

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.lib

# Debug/Release folders
Debug/
Release/
bin/
obj/
build/

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.ncb
*.sdf
*.opensdf

# Logs and dumps
*.log
*.dump